<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #37a07b;">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#" style="text-align:center">
    <img src="https://www.auroral.eu/img/logos/AURORAL-Horizontal_o.png" style="width: 80%;">
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      
    </div>
  </div>
</header>