      <!-- Container for aligning the toasts -->
      <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

        <!-- The toast -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toastBackendError" style="position: absolute; top:200px">
          <div class="toast-header">
            <button  type="button" class="close" data-dismiss="toast" onclick="closeToast()" style="background:none; border:none">X
            </button>
            <strong style="margin-right:5px;margin-left:5px;">Operation failed</strong>
            <i class="bi bi-fire" ></i>
            
          </div>
          <div class="toast-body" id="toastMessage">
          
          </div>
        </div>
      </div>